.teamh1 {
    margin-top: 150px;
    color: black;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    text-emphasis: bold;
}

.teamhr {
    width: 100px;
    height: 3px;
    background-color: #378349;
    margin: 0 auto 20px;
    border: none;
    margin-top: 15px;
}

.subtitle {
    text-align: center;
    font-size: 1em;
    margin-bottom: 40px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: #f8fcf8; /* Light gray with a very subtle greenish tint */
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 70%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5em !important;
}

.teamh2 {
    font-size: 1.2em;
    color: black;
    font-family: 'Arial', sans-serif;
    text-emphasis: bold;
    position: relative;
    bottom: 1rem;
}

.teamp {
    font-size: 0.8em;
    color: black;
    font-family: 'Arial', sans-serif;
    position: relative;
    bottom: 3.4rem;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .teamh1 {
        font-size: 2em;
        margin-top: 100px;
    }

    .teamhr {
        width: 80px;
        height: 2px;
    }

    .subtitle {
        font-size: 0.9em;
        margin-bottom: 30px;
    }

    .team-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .team-member img {
        width: 80%;
        max-width: 200px;
    }

    .teamh2 {
        font-size: 1.2em;
    }

    .teamp {
        font-size: 0.9em;
        margin-top: 1.8rem;
    }
}

